.experience__content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--color-bg-variant);
  padding: 2rem;
  border-radius: 1rem;
  row-gap: 2rem;
}
.experience__details{
  display: flex;
  gap: 1rem;
}
.experience__icon{
  color: var(--color-primary);
  margin-top: 6px;
}